---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row px-8 lg:px-0 mb-[12rem]"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Yerodin y soy un apasionado del desarrollo de software con más de
      <strong>tres años de experiencia</strong> en la creación de aplicaciones y
      soluciones tecnológicas.
    </p>

    <p>
      Algunos de mis logros incluyen <strong>cofundar Quinti</strong>, una app
      de delivery diseñada para conectar negocios locales en áreas remotas con
      nuevos clientes, y <strong>liderar el desarrollo de un LMS</strong> en Multilingual
      Interpreters and Translators, optimizando procesos y mejorando la experiencia
      de los usuarios.
    </p>

    <p>
      Actualmente, en <strong>Kedo!</strong>, estoy contribuyendo al crecimiento
      de la empresa mediante el desarrollo de un backend robusto, un CRM interno
      y <em class="italic">landing pages</em> que mejoran la presencia online y atraen
      nuevos usuarios. Mi enfoque siempre está en equilibrar el rendimiento técnico
      con un sólido criterio de negocio.
    </p>
  </div>

  <img
    width="300"
    height="300"
    src="/images/meee.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-[20rem] aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

