---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row px-8 lg:px-0 mb-[12rem]"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi, I'm Yerodin, a <strong>Full Stack Developer</strong> with over
      <strong>three years of experience</strong> building scalable and efficient
      business systems.
    </p>

    <p>
      I’ve worked on <strong>mission-critical platforms</strong> for HR and payroll,
      automating complex workflows and enabling <strong
        >multi-tenant deployments</strong
      > using Azure AD B2C — boosting productivity and scalability.
    </p>

    <p>
      At <strong>Kedo Solutions</strong>, I developed robust backend services
      using <strong>NestJS and Clean Architecture</strong> to support 300% user growth,
      and delivered <strong>real-time dashboards</strong> that improved decision-making
      speed.
    </p>

    <p>
      I also co-founded <strong>Quinti</strong>, a food delivery app with
      <strong>5K+ downloads</strong>, built with Flutter and real-time
      geolocation — helping connect local businesses with remote customers.
    </p>
  </div>

  <img
    width="300"
    height="300"
    src="/images/meee.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2  lg:p-2 lg:w-[20rem] aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
