---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row px-8 lg:px-0 mb-[12rem]"
>
<div
  class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
>
  <p>
    Hi, I’m Yerodin — a <strong>Full Stack Developer</strong> passionate about
    building products that solve <strong>real-world problems</strong> through technology.
  </p>

  <p>
    I specialize in creating <strong>scalable</strong> and
    <strong>maintainable systems</strong> using
    <strong>TypeScript, React, and Node.js</strong>, and I’m driven by
    <strong>continuous learning</strong> and <strong>innovation</strong>.
  </p>

  <p>
    I’ve contributed to <strong>high-impact platforms</strong> in
    <strong>HR, payroll, and logistics</strong> — always focused on improving
    <strong>performance</strong>, <strong>automation</strong>, and
    <strong>user experience</strong>.
  </p>

  <p>
    Outside of coding, I enjoy exploring <strong>new tech trends</strong>,
    collaborating with <strong>creative teams</strong>, and taking on
    <strong>challenges</strong> that push me beyond my comfort zone.
  </p>
</div>

  <img
    width="300"
    height="300"
    src="/images/meee.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2  lg:p-2 lg:w-[20rem] aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
