---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row px-8 lg:px-0 mb-[12rem]"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi, I'm Yerodin, a Backend Developer with over <strong
        >three years of experience</strong
      > in creating scalable and efficient software solutions.
    </p>

    <p>
      Throughout my career, I’ve had the opportunity to develop comprehensive <strong
        >HR software systems</strong
      >, including modules for <strong>Onboarding</strong>, <strong
        >Ticketing</strong
      >, <strong>Attendance Tracking</strong>, and <strong
        >Payroll Management</strong
      >, designed to streamline administrative workflows and improve team
      coordination.
    </p>

    <p>
      One of my key accomplishments is <strong
        >leading the backend development of a Learning Management System (LMS)</strong
      > at Multilingual Interpreters and Translators, which helped optimize learning
      processes and improve user engagement. I also developed a <strong
        >CRM system</strong
      > to enhance customer relationship management, enabling more efficient communication
      and tracking.
    </p>

    <p>
      Additionally, I co-founded <strong>Quinti</strong>, a food delivery app
      aimed at connecting local businesses with customers in remote areas. With
      over 5k downloads, Quinti’s real-time order tracking and optimized
      notifications help enhance user engagement and streamline the delivery
      process.
    </p>
  </div>

  <img
    width="300"
    height="300"
    src="/images/meee.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-[20rem] aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
