---
import ExperienceItem from "./ExperienceItem.astro";
// const EXPERIENCE = [
//   {
//     date: "Actualmente...",
//     title: "Multilingual Interpreters and Translators",
//     company: "Twitch",
//     description:
//       "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
//     link: "https://twitch.tv/midudev",
//   },
//   {
//     date: "Septiembre 2022",
//     title: "Principal Frontend Engineer",
//     company: "Adevinta Spain",
//     description:
//       "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
//   },
// ]
const EXPERIENCE = [
  {
    date: "December 2024 – Present",
    title: "FullStack Developer",
    company: "Multilingual Interpreters and Translators",
    description: `
      Automated payroll workflows, saving 20+ hours weekly and reducing human error.
      Improved and maintained HR and CMS platforms, enhancing scalability and security.
      Converted both systems into white-label solutions using Azure Tenant and AD B2C.
      Led junior devs with code reviews, task assignment, and development best practices.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
  {
    date: "March 2024 – December 2024",
    title: "Backend Developer",
    company: "Kedo Solutions",
    description: `
      Built scalable backend services with NestJS, using Clean Architecture and PostgreSQL.
      Developed real-time dashboards with React to visualize business KPIs.
      Optimized Google Cloud infrastructure, reducing hosting costs by 40%.
      Implemented internationalization (i18n) for country-specific content and timezones.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
  {
    date: "August 2021 – August 2023",
    title: "FullStack Developer Jr",
    company: "Multilingual Interpreters and Translators",
    description: `
      Designed and developed the HR system frontend, cutting admin time by 35%.
      Integrated unit tests for Express.js backend endpoints to ensure stability.
      Contributed to UI/UX using Figma and helped launch new features end-to-end.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
  {
    date: "January 2021 – Present",
    title: "Technical Co-Founder",
    company: "Quinti",
    description: `
      Built a Flutter-based delivery app to connect rural businesses with local users.
      Integrated real-time GPS tracking and dynamic routing to improve delivery flow.
      Achieved 5,000+ organic installs, boosting commerce in underserved areas.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
];
---

<ol class="relative mt-16 pl-8 md:pl-0">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
