---
import ExperienceItem from "./ExperienceItem.astro";
// const EXPERIENCE = [
//   {
//     date: "Actualmente...",
//     title: "Multilingual Interpreters and Translators",
//     company: "Twitch",
//     description:
//       "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
//     link: "https://twitch.tv/midudev",
//   },
//   {
//     date: "Septiembre 2022",
//     title: "Principal Frontend Engineer",
//     company: "Adevinta Spain",
//     description:
//       "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
//   },
// ]
const EXPERIENCE = [
  {
    date: "August 2024 - Present",
    title: "Full-stack Developer",
    company: "Kedo!",
    description: `
      Spearheaded backend development with NestJS and frontend development with Next.js, enhancing user and provider experience. Designed and implemented a robust CRM system for internal operations, driving user acquisition and engagement. Focused on Clean Architecture principles and scalable infrastructure.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
  {
    date: "August 2023 - August 2024",
    title: "Full-stack Developer",
    company: "Multilingual Interpreters and Translators",
    description: `
     Led the development of a Learning Management System (LMS) leveraging NestJS and Next.js with Server-Side Rendering (SSR) and secure authentication protocols. Streamlined onboarding processes by building an automated system that integrated HR tools, document management, and notifications. Enhanced the HR software system to manage Employee Tickets and Attendance Tracking. Delivered a detailed invoice report feature to help finance teams with monthly tracking.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
  {
    date: "August 2021 - August 2023",
    title: "Frontend Developer Jr",
    company: "Multilingual Interpreters and Translators",
    description: `
      Orchestrated the migration of legacy software from C++ to Next.js, significantly improving user experience and system performance. Implemented real-time notifications and a chat module using Firebase, enhancing communication efficiency. Developed reporting modules and dashboards for attendance tracking and performance analytics. Contributed to the development of a module for managing Employee Tickets, Onboarding, and other HR tools, improving team collaboration and performance monitoring.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
  {
    date: "January 2021 - Present",
    title: "Technical Co-Founder",
    company: "Quinti",
    description: `
      Built and launched a Flutter-based delivery application connecting local businesses with customers in remote areas. Integrated real-time updates and geolocation services to improve delivery accuracy and user experience. Achieved over 5k downloads, driving growth and engagement in underserved regions.
    `,
    link: "https://www.linkedin.com/in/naveed-cuellar-66b4b4218/",
  },
];
---

<ol class="relative mt-16 pl-8 md:pl-0">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
