---
import ExperienceItem from "./ExperienceItem.astro";
// const EXPERIENCE = [
//   {
//     date: "Actualmente...",
//     title: "Multilingual Interpreters and Translators",
//     company: "Twitch",
//     description:
//       "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
//     link: "https://twitch.tv/midudev",
//   },
//   {
//     date: "Septiembre 2022",
//     title: "Principal Frontend Engineer",
//     company: "Adevinta Spain",
//     description:
//       "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
//   },
// ]
const EXPERIENCE = [
  {
    date: "August 2022 – Present",
    title: "Full Stack Developer",
    company: "Multilingual Interpreters and Translators",
    description: `
      Modernized HR, Payroll, CMS, and LMS platforms by migrating legacy systems from C++ to NestJS and React, improving scalability and maintainability.
      Automated payroll workflows, saving 20+ hours weekly and eliminating interpreter payment errors.
      Designed database schemas with PostgreSQL and implemented unit/integration testing using Jest.
      Collaborated with international teams to deliver secure, high-performance systems using Azure, Docker, and PrismaORM.
    `,
    link: "https://www.linkedin.com/in/yerodin-cuellar-solis-66b4b4218/",
    location: "Florida, United States",
  },
  {
    date: "November 2021 – August 2022",
    title: "Full Stack Developer",
    company: "Kedo Solutions",
    description: `
      Built and maintained REST APIs with NestJS and Swagger documentation.
      Developed and deployed microservices with Docker and Node.js for scalable architecture.
      Implemented internationalization (i18n) features to support multi-country deployments.
      Created reusable React component libraries and optimized deployments on Google Cloud.
    `,
    link: "https://www.linkedin.com/in/yerodin-cuellar-solis-66b4b4218/",
    location: "Lima, Peru",

  },
  {
    date: "May 2020 – October 2021",
    title: "Full Stack Developer ",
    company: "Quinti",
    description: `
      Led end-to-end development of a delivery platform (customer app, driver app, landing page).
      Built RESTful APIs with Express.js and dynamic pages with Next.js, improving system efficiency.
      Integrated real-time GPS tracking and live notifications, reducing delivery delays.
      Achieved 5,000+ organic installs, helping local businesses reach new customers in rural areas.
    `,
    link: "https://www.linkedin.com/in/yerodin-cuellar-solis-66b4b4218/",
    location: "Lima, Peru",

  },
];
---

<ol class="relative mt-16 pl-8 md:pl-0">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
